body {
  background-image: url(./background.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}

#title {
  margin-right: 5rem;
}

#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.key {
  border: 1.2px solid #FCA622;
  border-radius: 10%;
  padding: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  background-color: rgba(0, 0, 0, 0.5)
}

.key:hover {
  transform: scale(1.1);
  cursor: pointer;
}
