body {
  background-image: url(./background_darker2.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
}

#title {
  margin-right: 5rem;
}

#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.key {
  border: 1.2px solid rgb(252,166,34);
  border-radius: 10%;
  padding: 1rem;
  min-width: 1.75rem;
  min-height: 1.75rem;
  margin: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  background-color: rgba(0, 0, 0, 0.5)
}

.key:hover {
  transform: scale(1.15);
  background-color: rgba(252,166,34,0.4);
  border-color: black;
  cursor: pointer;
}

.keyDown {
  border: 1.2px solid black;
  border-radius: 10%;
  padding: 1rem;
  min-width: 1.75rem;
  min-height: 1.75rem;
  margin: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  transform: scale(1.15);
  background-color: rgba(252,166,34,0.4);
}
